# Workspace settings
.vscode/


# YAML files
*.yaml
*.yml

# Java binaries and tmp
*class

# C++ Binaries
*.out

## Projects
c++/projects/cyoa/cyoa
### need to submit this project in a place where you cant use header files
### so I need to store my functions for copy pasting
c++/projects/cyoa/reused-functions

# HLA
*.o

## Projects
assembly/hla/demo_mov_add_sub
assembly/hla/demo_vars
assembly/hla/hello_world

# Personal shell scripts
bash/personal/*
